.pdfContainer {
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo en pantallas grandes */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    max-height: 100vh; /* Asegura que no se desborde */
    border: 1px solid #ccc;
    margin: 0 auto; /* Centra el contenedor en pantallas grandes */
    box-sizing: border-box;
}

.pdfContainer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .pdfContainer {
        height: 80vh; /* Ajusta la altura en dispositivos más pequeños */
        max-width: 100%; /* Permite que el PDF ocupe todo el ancho en pantallas pequeñas */
    }
}